body{
    background-color: whitesmoke;
    font-family: bai jamjuree, sans-serif
}




#container{
display: flex
}




.cartao{
    margin: 1rem 1rem;
    background-color: plum;
    height:20rem;
    flex-grow: 1rem;
    flex-basis: calc(33.33% - 6rem)
}




.cartao__conteudo {
    text-align: center;
    height: 100%
}


.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}


.cartao:hover .cartao__conteudo{
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 300ms easy-in-out;
}




.cartao__conteudo h3 {
    text-align: left;
    padding: 0,5rem;
    position: absolute;
    margin: 0,6rem;
    border-radius: 0,6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}


.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute
    height 100%;
    width: 100%;
}


.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}
